<div class="content-box w-clearfix">
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class => 'jerementor-form-label' %>
    <%= f.text_field :name, placeholder: 'Name of author', :class => 'jerementor-form' %>
  </div>

  <div class="field">
    <%= f.label :title, :class => 'jerementor-form-label' %>
    <%= f.text_field :title, placeholder: 'Title of post', :class => 'jerementor-form' %>
  </div>

  <div class="field">
    <%= f.label :subtitle, :class => 'jerementor-form-label' %>
    <%= f.text_field :subtitle, placeholder: 'Subtitle', :class => 'jerementor-form'%>
  </div>

  <div class="field">
    <%= f.label :slug, :class => 'jerementor-form-label' %>
    <%= f.text_field :slug, placeholder: 'URL slug', :class => 'jerementor-form'%>
  </div>

  <div class="field">
    <h2>Write here:</h2>
    <%= f.trix_editor :content, placeholder: 'Content goes here!'%>
  </div>

  <div class="actions">
    <%= f.submit  :class => 'jerementor-button w-button' %>
  </div>
<% end %>
</div>