<!DOCTYPE html>
<html>
  <head>
    <title>Jeremy Alexander</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
   <div class="flex-wrapper"> 
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/mobile-nav' %>
    <%= yield %>
    <div class="footer">
      <div class="copyright">Copyright &copy; 2017 Jeremy Alexander</div>
    </div>
   </div>
   </div>
   </div>
  </body>
</html>
