<!DOCTYPE html>
<html>
  <head>
    <title>Jeremy Alexander</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
   <div class="flex-wrapper"> 
    <%= render 'layouts/sidebar' %>
    <div class="main-content">
      <div class="w-container">
        <div class="mobile-nav w-hidden-main w-hidden-medium w-nav" data-animation="default" data-collapse="medium" data-duration="400">
        <div class="mobile-container w-container w-hidden-main w-hidden-medium">
          <a class="w-nav-brand" href="#">
            <%= image_tag("jeremy_alexander.jpg", :class => "mobile-img") %>
          </a>
          <h2 class="mobile-header">Jeremy Alexander</h2>
          <nav class="w-nav-menu" role="navigation"><a class="w-nav-link" href="#">Home</a><a class="w-nav-link" href="#">About</a><a class="w-nav-link" href="#">Contact</a>
          </nav>
        </div>
        </div>


        <% if user_signed_in? %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <% end %>
    <%= yield %>

    <div class="footer">
      <div class="copyright">Copyright &copy; 2017 Jeremy Alexander</div>
    </div>
   </div>
   </div>
   </div>
  </body>
</html>
